svg {
  border: solid;
}

#statsTable td {
  padding-right: 0.5em; 
}

#overall {
  display: flex; 
  min-height: 100vh; 
  flex-direction: column; 
  justify-content: space-between;
  text-align: center;
  max-width: 900px;
  margin-left: auto; 
  margin-right: auto;  
}

#statsTable {
  margin-left: auto; 
  margin-right: auto; 
}

#output div svg {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

#output div {
  text-align: center;
}

footer {
  margin-top: auto;
  padding-top: 2em;
}

footer a img {
  display: block; 
  margin-left: auto; 
  padding: 1em;
}

